.musiques {
    $root: '.musiques';
    
    display: flex;
    flex-direction: column;

    &:after {
        content: '';

        position: fixed;
        bottom: 10%;
        right: 10%;
        opacity: .7;

        width: 20rem;
        height: 20rem;

        transform: rotate(30deg);
        
        background: url('/img/icons/logo.png');
        background-size: 100%;

        z-index: -1;
    }
    
    #{$root}__choice {
        width: fit-content;
        
        margin-left: 10%;
        margin-bottom: 1rem;

        padding: 0 1rem;

        border: 3px solid lighten(black, 30%);
        border-radius: 40px;

        font-size: 1.5rem;

        & .title  {
            margin: 0;
        }
    }

    #{$root}__list {
        
        background-color: beige;

        max-width: 40%;

        font-size: 1.5rem;

        margin-left: 4rem;
        padding-bottom: 2rem;

        border-left: 3px solid lighten(black, 30%);
        border-right: 3px solid lighten(black, 30%);
        border-bottom: 3px solid lighten(black, 30%);
    }
}
